@model  List<Produto>
@{
    ViewBag.Title = "Listagem de Produtos";
}

<h2>@ViewBag.Title</h2>

<div style="margin-bottom:15px">
    <a class="btn btn-primary" href="@Url.Action("AddEdit")">Adicionar Produto</a>
</div>

<table class="table table-striped table-hover table-responsive-sm">
    <thead class="table-primary">
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th class="col-invisible">Data do Cadastro</th>
            <th>Valor</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr id="produto-@item.Id">
                <td>@item.Nome</td>
                <td>@item.TipoProduto.Nome</td>
                <td class="col-invisible">@item.DataCadastro</td>
                <td>@item.Valor.ToString("C2")</td>
                <td>
                    <a class="btn btn-sm btn-success" href="@Url.Action("AddEdit",new { id=item.Id})">Editar</a>
                    <button class="btn btn-sm btn-danger" onclick="excluirProd('@item.Id','@item.Nome')">Excluir</button>
                </td>
            </tr>
        }

    </tbody>

</table>

<div data-id="0" id="delModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Quer excluir o produto <span class="badge badge-danger" id="nomeProduto">xxxx</span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="confirmDel()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
    function excluirProd(id, nome) {
        //alert('Vc está excluindo o produto ' + nome);
        $('#nomeProduto').text(nome);
        $('#delModal').data('id', id).modal('show');
    }

    var _url = '@Url.Action("Excluir")';
    function confirmDel() {
        var _id = $('#delModal').data('id');
        //alert('Excluir id: ' + _id);
        var params = {};
        params.url = _url;
        params.method = 'post';
        //params.type = 'post';
        params.data = { id: _id };
        params.success = function (resp) {
            //console.log(resp);
            if (resp.success) {
                toastr.success('Produto excluído', 'FN Store');
            } else {
                toastr.error('Produto não excluído', 'FN Store');
            }
            $('#produto-' + _id).remove();
            $('#delModal').modal('hide');
        };
        $.ajax(params);
    }

    //$('#btn').click(function () {
    //    alert('ok');
    //});

</script>
}