@model Cliente

@{
    ViewBag.Title = (Model.Id == 0 ? "Adicionar " : "Editar ") + " Cliente";
}

<h2>@ViewBag.Title</h2>


<form method="post">

    <p>
        @Html.ValidationSummary(true, null, new { @class = "is-invalid" })
    </p>

    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(x => x.Nome, new { autofocus = "", @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Nome, null)
    </div>

    <div class="form-group">
        <label>Tipo</label>
        @Html.EnumDropDownListFor(m => m.Sexo,
                                         "Selecione ...", new { @class = "form-control" }
                             )
        @Html.ValidationMessageFor(x => x.Sexo, null)
    </div>

    <button class="btn btn-secondary">Salvar</button>
    <a class="btn btn-outline-secondary" href="@Url.Action("Index")">Voltar</a>
</form>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.validate.js"></script>
    <script src="~/Scripts/methods_pt-br.js"></script>
}